/* Basic browser styles */
html, body {
    font-family: Arial, Helvetica, Sans-serif;
    overflow-x: hidden;
}

/* Navigation */

.navbar {
    background-color: #03A9F4;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-item {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    transition: .2s;
}

.nav-item:hover { background-color: #0288D1 }

/* Header Styles */

.header {
    align-items: center;
    background-image: url('../img/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.overlay {
    background-color: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.content { z-index: 5 }

.title { font-size: 4em }

.subtitle {
    font-size: 2.5em;
    font-weight: lighter;
}

.title,
.subtitle {
    color: #ffffff;
    margin: 0;
}

.down-arrow {
    bottom: 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 2em;
    margin: 2em 0;
    position: absolute;
    transition: .2s;
    width: 2em;
    z-index: 5;
}

.down-arrow:hover {
    height: 2.5em;
    width: 2.5em;
    margin: 1.8em 0;
}

/* Bar styles */

.bar {
    background-color: #4CAF50;
    color: #ffffff;
    display: block;
    font-size: 1.2em;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}

.button {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    margin: 0 1em;
    padding: 0.4em 1em;
    text-decoration: none;
    transition: .2s;
}

.button:hover {
    background-color: #ffffff;
    color: #4CAF50;
}

/* Main Page Styles */

.section {
    display: flex;
    padding: 1em;
}

.section-adverts {
    background-color: #78909C;
    color: #ffffff;
    display: block;
    text-align: center;
}

.section-indigo { background-color: #3F51B5 }

.section-white { background-color: #F5F5F5 }

.half {
    height: 100%;
    margin: auto 0;
    width: 50%;
}

.third {
    height: 100%;
    width: 33.333%;
}

.product {
    color: #ffffff;
    text-align: center;
}

.blank-product {
    margin: auto 0;
}

.product-image {
    max-width: 90%;
}

.mockup-image {
    max-height: 40vh;
}

/* Footer */
.footer {
    background-color: #263238;
    color: #ffffff;
    padding: 4em;
}